<template>
    <div class="org-container">
        <div :class="{'content-container':showUserForm}">
            <div class="org-select-container">
                <div class="title-text">
                    Select Organization: 
                </div>
                <select 
                    @change="onSelectOrg"
                    v-model="selectedOrgIndex"
                    class="org-select"
                >
                    <option v-for="(org,index) in orgDetails" :key="org.id" :value="index">
                        {{ org.name }}
                    </option>
                </select>
            </div>
            <div class="add-user-button-container">
                <button class="add-user-button" @click="showUserForm=true">+ Add user</button>
            </div>
            <table>
                <thead>
                    <tr class="table-row">
                        <th>User Id</th>
                        <th>User Name</th>
                        <th>Admin</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(user,index) in selectedOrg.users" :key="user.userId">
                        <td>
                            <span v-if="!user.isEditMode">
                                {{user.userId}}
                            </span>
                            <input type="text" v-else v-model="user.userId">
                        </td>
                        <td>
                            <span v-if="!user.isEditMode">
                                {{user.userName}}
                            </span>
                            <input type="text" v-else v-model="user.userName">
                        </td>
                        <td>
                            <span v-if="!user.isEditMode">
                                {{user.isAdmin}}
                            </span>
                            <input type="checkbox" v-else v-model="user.isAdmin">
                        </td>
                        <td>
                            <div v-if="!user.isEditMode">
                                <span class="action-text" @click="onUserEdit(index)">
                                    Edit
                                </span> | 
                                <span class="action-text" @click="onUserDelete(index)">
                                    Delete
                                </span>
                            </div>
                            <div v-else>
                                <span class="action-text" @click="onUserUpdate(index)">
                                    Save
                                </span> | 
                                <span class="action-text" @click="onUserUpdateCancel(index)">
                                    Cancel
                                </span>
                            </div>
                        </td>
                    </tr>
            </tbody>
            </table>
        </div>
        <div>
            <div class="user-info-modal" v-if="showUserForm">
                <h2>
                    Add user Information
                </h2>
                <br>
                <input class="user-input" placeholder="Add user Id" type="text" v-model="newUserId">
                <br>
                <input class="user-input" placeholder="Add user Name" type="text" v-model="newUserName">
                <br>
                <span>Is User Admin: </span><input class="user-input" type="checkbox" v-model="isNewUserAdmin">
                <div>
                    <button class="save-user-button" @click="onAddUser">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import orgDetails from '../../public/constants/constants'
    export default {
        data() {
            return {
                orgDetails: orgDetails,
                selectedOrg: null,
                showUserForm:false,
                newUserId: '',
                newUserName: '',
                isNewUserAdmin: '',
                isEditModeEnabled: false,
                selectedOrgBackup: null,
                selectedOrgIndex: 0
            }
        },
        methods: {
            onSelectOrg() {
                this.selectedOrg = this.orgDetails[this.selectedOrgIndex]
                this.resetEditMode()
            },
            onAddUser() {
                let user = {}
                user.userId = this.newUserId
                user.userName = this.newUserName
                user.isAdmin = this.isNewUserAdmin || false
                this.selectedOrg.users.unshift(user)
                this.showUserForm=false
                this.newUserId = ''
                this.newUserName = ''
                this.isNewUserAdmin = false
            },
            onUserEdit(index) {
                this.selectedOrg.users[index].isEditMode = true
                this.selectedOrg = JSON.parse(JSON.stringify(this.selectedOrg))
            },
            onUserUpdate(index) {
                this.selectedOrg.users[index].isEditMode = false
            },
            onUserDelete(index) {
                this.selectedOrg.users.splice(index,1)
            },
            onUserUpdateCancel(index) {
                this.selectedOrg.users[index].isEditMode = false
                this.selectedOrg.users[index] = this.selectedOrgBackup.users[index]
            },
            // Adding isEditMode field to every user to maintain its editable state individually
            resetEditMode() {
                this.selectedOrg.users.forEach(user=>{
                    user.isEditMode = false
                })
            }
        },
        // First hook, that gets triggered before DOM rendering
        created () {
            this.selectedOrg = this.orgDetails[0];  // Selecting first organization by default
            this.selectedOrgIndex = 0
            this.resetEditMode()
            this.selectedOrgBackup = JSON.parse(JSON.stringify(this.selectedOrg))  // Make a backup/clone of selected object
        },
    }
</script>

<style lang="scss" scoped>
    .org-container{
                padding: 10px;
        .org-select-container{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            .org-select {
                height: 32px;
                width: 100px;
                border-radius: 10%;
                option{
                    height: 30px
                }
            }
            &:focus {
                outline: none
            }
        }
        .add-user-button-container{
            display: flex;
            justify-content: left;
            margin-bottom: 10px;
            .add-user-button{
                color: white;
                border: none;
                background: #079e07;
                padding: 10px;
                font-size: 16px;
                border-radius: 10%;
            }
            &:focus {
                outline:none
            }
        }
        .title-text{ 
            margin-right: 10px;
            font-weight: 500;
            font-size: 16px;
        }
        .content-container{
            -webkit-filter: blur(5px) grayscale(90%);
        }
    }
    table, th, td {
        border: 1px solid #ddd;
        border-collapse: collapse;
        padding: 10px
    }
    .action-text {
        font-size: 12px;
        text-decoration: underline;
        color: blue;
        cursor:pointer
    }
    .user-info-modal{ 
        background: white;
        border: 1px solid darkgray;
        padding: 50px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        .user-input {
            margin-bottom: 10px;
        }
        .save-user-button{
                color: white;
                border: none;
                background: #079e07;
                padding: 10px;
                font-size: 16px;
                border-radius: 10%;
            }
            &:focus {
                outline:none
            }
    }
</style>